body {
    height: 100%;
    width: 100%;
    background-color: #333;
  }
  
  h2 {
    font-family: "Gloria Hallelujah", cursive;
    color: whitesmoke;
    font-size: 20pt;
    line-height: 1.5;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }
  #countdown {
    position: relative;
    margin: auto;
    margin-top: 100px;
    height: 100px;
    width: 100px;
    text-align: center;
  }
  
  #countdown-number {
    display: contents;
    margin-left: 55px;
    margin-top: 25px;
    position: relative;
    height: 50px;
    width: 50px;
    line-height: 50%;
  }
  
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  svg circle {
    stroke-dasharray: 250px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
    animation: countdown 1800s linear infinite forwards;
  }
  
  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 250px;
    }
  }


#button {
  margin-top:5%;
  margin-left: 44%;
}  

  a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 10px;
    border-radius: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size:15pt;
    color: #FFFFFF;
    text-align: center;
    transition: all 1s;
}

.button1:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.bouncy {
  animation: bouncy 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

  @-webkit-keyframes bouncy { 
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
  }